{% extends "base.html.twig" %}

{% block title %}CommBundle:Communication:deleteReclamation{% endblock %}

{% block body %}
<h1>Welcome to the Communication:deleteReclamation page</h1>
{% endblock %}
