<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ajouter une Réclamation</title>
    <meta charset="UTF-8">
    <meta name="description" content="MySchool Education Template">
    <meta name="keywords" content="MySchool, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="{{ asset('img/favicon.ico"') }} rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img src="img/logoo.png" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <a href="" class="site-btn header-btn">Espace Utilisateur</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="index.html">ACCEUIL</a></li>
                        <li><a href="#">ECOLE</a></li>
                        <li><a href="courses.html">VIE_ELEVE</a></li>
                        <li><a href="blog.html">EVENEMENTS</a></li>
                        <li><a href="blog.html">ACTUALITES</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->


<!-- Hero section -->

<!-- Hero section end -->


<!-- categories section -->

<!-- categorie -->

<!-- categorie -->

<!-- categorie -->

<!-- categorie -->

<!-- categorie -->

<!-- categories section end -->


<!-- search section -->

<!-- search section end -->


<!-- course section -->


<!-- course -->

<!-- course -->

<!-- course -->

<!-- course -->

<!-- course -->

<!-- course -->

<!-- course -->

<!-- course -->

<!-- course section end -->


<!-- signup section -->
<section class="signup-section spad">
    <div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp">
                    <div class="section-title text-white text-left">
                        <h2>Ajouter une réclamation</h2>
                        <p></p>
                    </div>
                    <!-- signup form -->
                    <form class="signup-form">
                        <input type="text" placeholder="Contenu:">
                        <input type="text" placeholder="Date Envoi:">
                        <input type="text" placeholder="Date Reponse:">
                        <input type="text" placeholder="Id d'émetteur :">

                        <label for="v-upload" class="file-up-btn">Ajouter</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signup section end -->


<!-- banner section -->

<!-- banner section end -->


<!-- footer section -->

<!-- footer section end -->


<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/circle-progress.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</html>